/* Global styles to hide scrollbars for Webkit browsers (Chrome, Safari, newer Edge) */
::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, and newer Edge */
}

* {
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* Internet Explorer and Edge */
}


body {
    font-family: Arial, sans-serif;
    background-color: #404040; /* Dark background color */
    color: #ffffff; /* White text color */
    margin: 0;
    padding: 0;
    
}
 
.logo {
    margin-right: -10px; /* Adjust spacing between logo and text */
    margin-left: 10px; /* Adjust spacing between logo and text */
}

.logo img {
    width: 50px; /* Adjust width of the logo image */
    height: auto; /* Maintain aspect ratio */
}

.layout-icons {
    position: absolute;
    top: 18px;
    right: 10px;
    font-size: 15px;
    cursor: pointer;
    zoom: 150%;
}

.layout-icons > *:not(:last-child) {
    margin-right: 5px; /* Adjust the gap between icons */
}

.layout-icons:hover  {
    cursor: pointer;
}

.active-icon {
}

.heading-container {
    position: relative; /* Ensure relative positioning for absolute child */
    background-color: #1c1c1c;
    color: #fff; /* Change the text color as needed */
    height: 60px;
    display: flex;
    margin-left: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
    zoom: 90%;
    width: 90%;
    padding-top: 10px;
    margin-top: 20px;
}



.heading-container::before {
    content: "";
    position: absolute;
    bottom: -10px; /* Adjust as needed */
    left: 0;
    width: 100%;
    height: 10px; /* Adjust as needed */
    background: linear-gradient(to top right, transparent, rgba(0, 0, 0, 0.3)); /* Add gradient for shadow effect */
}


.box-background {
    position: absolute;
    margin-top: -20px;
    left: 0;
    width: 225px; /* Set width to fill the container */
    height: 40px; /* Set height to fill the container */
    background-color: #b2b2b2; /* Specify your desired background color */
    z-index: 2; /* Set z-index lower than the heading to position it behind */
}

.admin-icon {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    margin-left: 0px; /* Adjust as needed */
    position: relative;
    top: 1px;
}

.left-items {
    padding-left: 5px; /* Adjust padding as needed */
}

.ptz-heading {
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 15px;
    position: relative; /* Ensure proper positioning */
    z-index: 3; /* Set a higher z-index value to display it on top */
}

.top-left-image {
    position: fixed;
    top: 10px;
    left: 50px;
    width: 7%;
}

.label {
    color: #b2b2b2;
    font-size: 15px; /* Adjust font size */
    margin-left: 20px; /* Adjust spacing between label and camera-pad */
    margin-bottom: 10px; /* Reduce the gap between the label and the camera-pad */
    font-weight: lighter; /* Set font weight to normal */
}

#click-overlay {
    position: absolute; /* Positioned on top of the video stream */
    top: 0;
    left: 0;
    width: 100%; /* Covering the entire container */
    height: 100%; /* Covering the entire container */
    background: transparent; /* Transparent to allow video visibility */
    cursor: copy; /* Indicate that the area is clickable */
}


#canvas-overlay {
    position: absolute; /* Positioned on top of the video stream */
    top: 0;
    left: 0;
    width: 100%; /* Covering the entire container */
    height: 100%; /* Covering the entire container */
    background: transparent; /* Transparent to allow video visibility */
    cursor: copy; /* Indicate that the area is clickable */
    pointer-events: auto;
}
#canvasOverlay {
    position: absolute; /* Positioned on top of the video stream */
    top: 0;
    left: 0;
    width: 100%; /* Covering the entire container */
    height: 100%; /* Covering the entire container */
    background: transparent; /* Transparent to allow video visibility */
    cursor: copy; /* Indicate that the area is clickable */
    pointer-events: auto;
}
.video-container {
    position: fixed;
    width: 1180px; /* Full width of the viewport */
    height: 780px; /* Full height of the viewport */
    overflow: hidden; /* Ensure that content does not overflow */
}


.video-container.collapsed {
    display: none;
}

#twitchIframe {
    width: 1120px; /* Set the fixed width */
    height: 780px; /* Set the fixed height */
    overflow: hidden; /* Prevents scrollbars if content overflows */
}

.video-active {
    width: 86.5%; /* Full width */
    height: 100vh; /* Full viewport height */
    position: fixed; /* Relative positioning */
    overflow: visible; /* Adjust as needed */
    z-index: 1; /* Ensure visibility */
    margin-left: 192px;
}



@media (max-width: 600px) {

.preset-container {
    min-width: 275px;
    margin-top: -50px;
    overflow: hidden; /* Ensure no overflow behavior on the parent container */
    zoom: 80%;
}
}
@media (min-width: 600px) {

    .preset-container {
        min-width: 314px;
        margin-top: -50px;
        overflow: hidden; /* Ensure no overflow behavior on the parent container */
        zoom: 80%;

    }
    }

.preset-container.collapsed {
    display: none;
}


.custom-preset-container {
   margin-top: 40px;
}

.chat-container {
    margin-top: 40px;
 }
 
.direction-container {
    background-color: #1c1c1c;
    margin-top: 10px;
    width: 90%;
    margin-left: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}

.preset-container-card {
    background-color: #1c1c1c;
    margin-top: 60px;
    margin-left: 0px;
    padding-bottom: 20px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
    overflow: hidden; /* Ensure no overflow behavior on the parent container */

}


.others-container {
}

.direction-pantilt-container {
}

.direction-heading {
    margin-top: 10px;
    font-size: 14px;
    color: #b2b2b2;
    font-size: 15px; /* Adjust font size */
    margin-left: 20px; /* Adjust spacing between label and camera-pad */
    margin-bottom: 0px; /* Reduce the gap between the label and the camera-pad */
    text-align: center; /* Center text horizontally */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.1);
    letter-spacing: 0.5px;
}

.direction-heading-camera {
    margin-top: 10px;
    font-size: 14px;
    color: #b2b2b2;
    font-size: 15px; /* Adjust font size */
    margin-left: 15px; /* Adjust spacing between label and camera-pad */
    margin-bottom: 5px; /* Reduce the gap between the label and the camera-pad */
    text-align: center; /* Center text horizontally */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.1);
    letter-spacing: 0.5px;
}
.direction-move-heading {
    margin-top: 10px;
    font-size: 14px;
    color: #b2b2b2;
    font-size: 15px; /* Adjust font size */
    margin-left: 20px; /* Adjust spacing between label and camera-pad */
    margin-bottom: -5px; /* Reduce the gap between the label and the camera-pad */
    font-weight: lighter; /* Set font weight to normal */
}

.direction-pan-heading {
    margin-top: 10px;
    font-size: 14px;
    color: #b2b2b2;
    font-size: 15px; /* Adjust font size */
    margin-left: 25px; /* Adjust spacing between label and camera-pad */
    margin-bottom: -5px; /* Reduce the gap between the label and the camera-pad */
    font-weight: lighter; /* Set font weight to normal */
}

.direction-zoom-heading {
    margin-top: 10px;
    font-size: 14px;
    color: #b2b2b2;
    font-size: 15px; /* Adjust font size */
    margin-left: 20px; /* Adjust spacing between label and camera-pad */
    margin-bottom: -5px; /* Reduce the gap between the label and the camera-pad */
    font-weight: lighter; /* Set font weight to normal */
}

.toggle-button {
    float: right;
}

.direction-pad.collapsed {
    display: none;
}

.pantilt-pad.collapsed {
    display: none;
}
.ptz-container.collapsed {
    display: none;
}
.zoom-container.collapsed {
    display: none;
}
.swap-container.collapsed {
    display: none;
}

.focus-container.collapsed {
    display: none;
}

.ir-container.collapsed {
    display: none;
}
.other-container.collapsed {
    display: none;
}

.direction-pad-outer.collapsed {
    display: none;
}
.camera-container {
    margin-left: 10px !important;
    display: flex;
    flex-direction: column; /* Display buttons in a vertical list */
    align-items: flex-start; /* Align buttons to the start of the container */
    background-color: #222222; /* Set background color for the whole box */
    padding: 0px;
    border-radius: 0; /* Make corners square */
    margin-right: 30px;
    border: none; /* Remove border */ 
    width: 185px; /* Set width of the container */
    height: 382px; /* Set the height to 290px */
    margin-left: 20px;
    overflow-y: auto; /* Make the container scrollable vertically */
    
}

.camera-button {
    width: 120px; /* Ensure buttons take full width of container */
    height: 28px; /* Set a fixed height for buttons */
    margin-top: 2px;
    margin-bottom: 5px; /* Adjust spacing between buttons */
    color: white; /* Text color */
    background-color: #222222; /* Background color */
    border: none; /* Remove button border */
    cursor: pointer;
    font-size: 18px;
    text-align: left; /* Align text to the left */
    flex-shrink: 0; /* Prevent the button from shrinking */
    letter-spacing: 0.5px;
    text-indent: 0.5em; /* Adjust as needed */
}

.camera-button:hover {
    background-color: #606060; /* Darker background color on hover */
}
.camera-button.selected {
    background-color: #6082B6; /* Example background color for selected button */
    color: white; /* Example text color for selected button */
}

.container {
    display: flex;
    margin-top: 2px;
    margin-bottom: 30px;
}


.container > .direction-pad {
    margin-right: 20px;
}

.chat-box {
  display: grid;
  grid-template-columns: repeat(1, 300px);
  grid-gap: 0;
  background-color: #222222;
  padding: 0;
  border-radius: 0;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin-left: -70px;
  margin-top: 10px; 
  width: 250px;
  height: 100px;
  overflow-y: auto;
}

.chat-message {
  list-style-type: none;
  padding: 10px;
  color: #ffffff;
}
.chat-box ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    font-size: 12px; /* Force font size */
    margin-left: 5px;
    font-weight: lighter; /* Set font weight to normal */

}


.chat-message:nth-child(even) {
  background-color: #333333;
}

.custom-preset-container.collapsed {
    display: none;
}

/* Styles for screens less than 600px */
@media (max-width: 600px) {
.list-layout {
 
    .preset-pad, .custom-preset-pad {
        display: grid;
        grid-template-columns: repeat(1, 230px);
        grid-gap: 0;
        padding: 0;
        border-radius: 0;
        border: none;
        margin-left: -5px;
        margin-top: 30px;
        width: 230px;
        max-height: 699px; /* Adjust the value as needed */
        min-height: 150px; /* Adjust the value as needed */
        overflow-y: auto;
        grid-auto-rows: 50px;
    }

    .preset-button, .custom-preset-button {
        font-family: "Roboto Mono", monospace;
        font-size: 16px;
        margin: 0;
        padding-left: 15px; /* Adjust the value as needed */
        color: white;
        background-color: #222222;
        border: none;
        cursor: pointer;
        text-align: left;
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        
    }
      .preset-image, .custom-preset-image, .layout-icons {
        display: none; /* Hide the image by default */
    }


    /* Hover effect for buttons on small screens */
    .preset-button:hover, .custom-preset-button:hover {
        background-color: #606060;
    }
    .label-preset {
        color: #b2b2b2;
        font-size: 15px; /* Adjust font size */
        display: block; /* Set the label as a block-level element */
        position: absolute;
        font-weight: normal; /* Set font weight to normal */
        margin-top: 10px;
        margin-left: 0px; /* Adjust the margin-left value */
        font-weight: lighter; /* Set font weight to normal */
    }

   .custom-label-preset {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #b2b2b2;
        font-size: 15px; /* Adjust font size */
        display: block; /* Set the label as a block-level element */
        position: absolute;
        margin-top: -25px;
        margin-left: 0px; /* Adjust the margin-left value */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.1);
        letter-spacing: 0.5px;
    }

    .preset-pad.collapsed {
        display: none;
    }
    .label-preset-heading {
        width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #b2b2b2;
        font-size: 15px; /* Adjust font size */
        display: block; /* Set the label as a block-level element */
        position: relative;
        margin-bottom: -10px;
        margin-top: 18px;
        margin-left: 0px; /* Adjust the margin-left value */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.1);
        letter-spacing: 0.5px;
    } 
    #presetSearch {
        height: 5px;
        width: 100px;
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 15px;
        margin-bottom: -10px;
    }
  }

.grid-layout {
.preset-pad, .custom-preset-pad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: none;
    margin-top: 20px;
    margin-left: 0px;
    max-width: 400px; /* Adjust the value as needed */
    max-height: 850px; /* Adjust the value as needed */
    min-height: 200px; /* Adjust the value as needed */
    overflow-y: auto;
}

.preset-button-container, .custom-preset-button-container {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed */
    margin-right: 25px; /* Add margin between containers */
}

.preset-button, .custom-preset-button {
    width: 220px; /* Adjust width as needed */
    display: block; /* Ensure proper alignment */
    margin: 0 auto 0px; /* Center image and button and add space below */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Add 3D shadow effect */
    cursor: pointer; /* Add cursor pointer */
    border-top-left-radius: 0px; /* Adjust the radius for the top-left corner */
    border-top-right-radius: 0px; /* Adjust the radius for the top-right corner */
    border-bottom-left-radius: 5px; /* Keep the bottom-left corner square */
    border-bottom-right-radius: 5px; /* Keep the bottom-right corner square */
}


.preset-image, .custom-preset-image {
    width: 220px; /* Adjust width as needed */
    display: block; /* Ensure proper alignment */
    margin: 0 auto 0px; /* Center image and button and add space below */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Add 3D shadow effect */
    cursor: pointer; /* Add cursor pointer */
    border-top-left-radius: 5px; /* Adjust the radius for the top-left corner */
    border-top-right-radius: 5px; /* Adjust the radius for the top-right corner */
    border-bottom-left-radius: 0; /* Keep the bottom-left corner square */
    border-bottom-right-radius: 0; /* Keep the bottom-right corner square */
    
}
.preset-image, .custom-preset-image {
    height: 124px; /* Maintain aspect ratio */
}

.preset-button, .custom-preset-button {
    height: 30px; /* Adjust height of the button */
    background-color: #1F1B24; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    cursor: pointer; /* Add cursor pointer */
    font-size: 18px; /* Adjust font size */
    /* Add other button styles as needed */
}

.label-preset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b2b2b2;
    font-size: 15px; /* Adjust font size */
    display: block; /* Set the label as a block-level element */
    position: relative;
    margin-bottom: -10px;
    margin-top: 10px;
    margin-left: 0px; /* Adjust the margin-left value */
    font-weight: lighter; /* Set font weight to normal */
} 


.custom-label-preset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b2b2b2;
    font-size: 15px; /* Adjust font size */
    display: block; /* Set the label as a block-level element */
    position: relative;
    margin-bottom: -10px;
    margin-top: 35px;
    margin-left: 0px; /* Adjust the margin-left value */
    font-weight: lighter; /* Set font weight to normal */
} 

/* Hover effect for buttons on larger screens */
.preset-button:hover,
.preset-image:hover + .preset-button {
    background-color: #1e88e5;
    color: #ffffff;
}
/* Hover effect for buttons on larger screens */
.custom-preset-button:hover,
.custom-preset-image:hover + .custom-preset-button {
    background-color: #1e88e5;
    color: #ffffff;
}

.preset-pad.collapsed {
    display: none;
}
.label-preset-heading {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b2b2b2;
    font-size: 17px; /* Adjust font size */
    display: block; /* Set the label as a block-level element */
    position: relative;
    margin-bottom: -10px;
    margin-top: 18px;
    margin-left: 0px; /* Adjust the margin-left value */
    font-weight: lighter; /* Set font weight to normal */
} 
#presetSearch {
    margin-right: 45px;
    height: 5px;
    width: 100px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: -10px;
}
}

}
/* Styles for screens greater than 600px */
@media (min-width: 601px) {

.list-layout {
    .preset-pad, .custom-preset-pad {
        display: grid;
        grid-gap: 0;
        border-radius: 0;
        border: none;
        margin-left: -5px;
        margin-top: 30px;
        max-width: 600px; /* Adjust the value as needed */
        max-height: 699px; /* Adjust the value as needed */
        min-height: 150px; /* Adjust the value as needed */
        min-width: 250px; /* Adjust the value as needed */
        overflow-y: auto;
        grid-auto-rows: 50px;
    }

    .preset-button, .custom-preset-button {
        font-family: "Roboto Mono", monospace;
        font-size: 14px;
        margin: 0;
        padding-left: 15px; /* Adjust the value as needed */
        color: white;
        background-color: #222222;
        border: none;
        cursor: pointer;
        text-align: left;
        box-sizing: border-box;
        width: 98%;
        height: 45px
    }
      .preset-image, .custom-preset-image {
        display: none; /* Hide the image by default */
    }
    /* Hover effect for buttons on small screens */
    .preset-button:hover, .custom-preset-button:hover {
        background-color: #606060;
    }
    
    .label-preset {
        color: #b2b2b2;
        font-size: 15px; /* Adjust font size */
        display: block; /* Set the label as a block-level element */
        position: absolute;
        font-weight: normal; /* Set font weight to normal */
        margin-top: 10px;
        margin-left: 0px; /* Adjust the margin-left value */
        font-weight: lighter; /* Set font weight to normal */
    }

   .custom-label-preset {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #b2b2b2;
        font-size: 15px; /* Adjust font size */
        display: block; /* Set the label as a block-level element */
        position: absolute;
        margin-top: -25px;
        margin-left: 0px; /* Adjust the margin-left value */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.1);
        letter-spacing: 0.5px;
    }


.preset-pad.single-column, .custom-preset-pad.single-column {
    grid-template-columns: repeat(1, 1fr);
    width: 200px;
}

.preset-pad:not(.single-column), .custom-preset-pad:not(.single-column) {
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
}

.preset-pad.collapsed {
    display: none;
}

.custom-preset-pad.collapsed {
    display: none;
}
.label-preset-heading {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b2b2b2;
    font-size: 15px; /* Adjust font size */
    display: block; /* Set the label as a block-level element */
    position: relative;
    margin-bottom: -10px;
    margin-top: 18px;
    margin-left: 0px; /* Adjust the margin-left value */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.1);
    letter-spacing: 0.5px;
} 

#presetSearch {
    height: 5px;
    width: 100px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: -10px;
}
}

.grid-layout {
.preset-pad, .custom-preset-pad {  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: none;
    margin-top: 25px;
    margin-left: 20px;
    max-width: 1000px; /* Adjust the value as needed */
    max-height: 850px; /* Adjust the value as needed */
    min-height: 200px; /* Adjust the value as needed */
    overflow-y: auto;
}

.preset-button-container, .custom-preset-button-container {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed */
    margin-right: 25px; /* Add margin between containers */
}

.preset-button, .custom-preset-button {
    width: 220px; /* Adjust width as needed */
    display: block; /* Ensure proper alignment */
    margin: 0 auto 0px; /* Center image and button and add space below */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Add 3D shadow effect */
    cursor: pointer; /* Add cursor pointer */
    border-top-left-radius: 0px; /* Adjust the radius for the top-left corner */
    border-top-right-radius: 0px; /* Adjust the radius for the top-right corner */
    border-bottom-left-radius: 5px; /* Keep the bottom-left corner square */
    border-bottom-right-radius: 5px; /* Keep the bottom-right corner square */
}


.preset-image, .custom-preset-image {
    width: 220px; /* Adjust width as needed */
    display: block; /* Ensure proper alignment */
    margin: 0 auto 0px; /* Center image and button and add space below */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Add 3D shadow effect */
    cursor: pointer; /* Add cursor pointer */
    border-top-left-radius: 5px; /* Adjust the radius for the top-left corner */
    border-top-right-radius: 5px; /* Adjust the radius for the top-right corner */
    border-bottom-left-radius: 0; /* Keep the bottom-left corner square */
    border-bottom-right-radius: 0; /* Keep the bottom-right corner square */
}
.preset-image, .custom-preset-image {
    height: 124px; /* Maintain aspect ratio */
}

.preset-button, .custom-preset-button {
    height: 30px; /* Adjust height of the button */
    background-color: #222222; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    cursor: pointer; /* Add cursor pointer */
    font-size: 18px; /* Adjust font size */
    /* Add other button styles as needed */
}

.label-preset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b2b2b2;
    font-size: 15px; /* Adjust font size */
    display: block; /* Set the label as a block-level element */
    position: relative;
    margin-bottom: -15px;
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 20px; /* Adjust the margin-left value */
    font-weight: lighter; /* Set font weight to normal */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.1);

} 

.custom-label-preset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b2b2b2;
    font-size: 15px; /* Adjust font size */
    display: block; /* Set the label as a block-level element */
    position: relative;
    margin-bottom: -10px;
    margin-top: 35px;
    margin-left: 20px; /* Adjust the margin-left value */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.1);
    letter-spacing: 0.5px;

} 

/* Hover effect for buttons on larger screens */
.preset-button:hover,
.preset-image:hover + .preset-button {
    background-color: #1e88e5;
    color: #ffffff;
}

/* Hover effect for buttons on larger screens */
.custom-preset-button:hover,
.custom-preset-image:hover + .custom-preset-button {
    background-color: #1e88e5;
    color: #ffffff;
}
.preset-pad.collapsed {
    display: none !important;
}

.custom-preset-pad.collapsed {
    display: none;
}

.label-preset-heading {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b2b2b2;
    font-size: 15px; /* Adjust font size */
    display: block; /* Set the label as a block-level element */
    position: relative;
    margin-bottom: -10px;
    margin-top: 18px;
    margin-left: 20px; /* Adjust the margin-left value */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.1);
    letter-spacing: 0.5px;
} 
#presetSearch {
    margin-right: 45px;
    height: 5px;
    width: 100px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: -10px;
}
}

}

.list-icon {
    /* Set the background image to list.png */
    background-image: url('/img/list.png');
    /* Set the width and height of the icon */
    width: 16px; /* Adjust as needed */
    height: 16px; /* Adjust as needed */
    /* Display the background image */
    display: inline-block;
}

.grid-icon {
    /* Set the background image to grid.png */
    background-image: url('/img/grid.png');
    /* Set the width and height of the icon */
    width: 16px; /* Adjust as needed */
    height: 16px; /* Adjust as needed */
    /* Display the background image */
    display: inline-block;
}

@media (max-width: 900px) {

    .vid-icon {
        display: none;
    }
    }

@media (min-width: 901px) {

.vid-icon {
    background-image: url('/img/click_icon.png');
    width: 18px; /* Adjust as needed */
    height: 18px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    display: inline-block;   
}
}


.direction-and-ptz-container {
    display: flex;
    flex-direction: column;
}

.direction-pad {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 10px;
    width: 200px;
    margin-left: 20px;
    margin-top: 7px;
}

.pantilt-pad {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 10px;
    width: 200px;
    margin-left: 20px;
    margin-top: 7px;
}
.zoom-pad {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 10px;
    width: 200px;
    margin-left: 20px;
    margin-top: 7px;
}
.arrow-button {
    width: 50px;
    height: 50px;
    background-color: #3C3C3C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.1s ease; /* Smooth transition for scaling */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.arrow-button:hover {
    background-color: #1565c0; /* Highlight color on hover */
}

.ptz-arrow-button {
    width: 50px;
    height: 50px;
    background-color: #1a1919;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.1s ease; /* Smooth transition for scaling */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.ptz-arrow-button:hover {
    background-color: #1565c0; /* Highlight color on hover */
}

@keyframes button-press {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); } /* Scale down to 90% */
    100% { transform: scale(1); }
}

.ptz-input-wrapper {
    display: flex;
}

.ptz-container {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    align-items: flex-start; /* Align items to the start */
    margin-top: 7px;
    margin-left: 19px;
}
.zoom-container {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    align-items: flex-start; /* Align items to the start */
    margin-top: 7px;
    margin-left: 19px;
}

.ptz-input {
    width: 48px; /* Set the width to match the direction-pad buttons */
    height: 50px; /* Set the height to match the direction-pad buttons */
    background-color: #3C3C3C; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    font-size: 12px; /* Set font size */
    margin-right: 8px; /* Adjust spacing between input boxes */
    text-align: center; /* Center the text horizontally */
    caret-color: white; /* Change the cursor color */
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;

}

.ptz-input:focus {
    outline: 2px solid white; /* Change the outline color for focus */
    outline-offset: 2px; /* Adjust the outline offset if needed */
}


.ptz-input:last-child {
    margin-right: 0; /* Remove margin from the last input box */
}


.send-button {
    width: 172px;
    height: 30px;
    margin-top: 10px; /* Add space between input boxes and send button */
    padding: 6px 18px; /* Adjust padding */
    border: none;
    border-radius: 5px;
    background-color: #1565c0;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.send-button:hover {
    background-color: #1e88e5; /* Highlight color on hover */
}

.dropdown {
    margin-bottom: 10px; /* Adjust margin as needed */
}

.swap-dropdown1 select {
    width: 80px; /* Adjust width as needed */
    padding: 5px;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px; 
    background-color: #3C3C3C;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 0.5px;
    padding-left: 10px;

}

.swap-dropdown2 select {
    width: 80px; /* Adjust width as needed */
    padding: 5px;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px; 
    background-color: #3C3C3C;
    cursor: pointer;
    margin-top: 10px;
    letter-spacing: 0.5px;
    padding-left: 10px;
}

.dropdown-container {
    display: flex; /* Use flexbox to align items */
}


.dropdown select:focus {
    outline: none;
    border-color: #007bff; /* Change focus color as needed */
}


.swap-wrapper {
    display: flex;
}

.swap-buttons { 
    display: flex;
} 

.swap-num-button { 
    width: 30px;
    height: 30px;
    background-color: #3C3C3C;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 8px;
    margin-top: 5px;
    border-radius: 5px; 
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}   
.swap-num-button:hover {
    background-color: #1565c0; /* Highlight color on hover */
} 

.swap-preset-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1px; /* Adjust space between buttons as needed */
}

.swap-preset-button:nth-child(4) {
    grid-column: 1 / 2; /* Start at the first column on a new row */
}

.swap-preset-button { 
    width: 53px;
    height: 30px;
    background-color: #3C3C3C;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 12px;
    margin-top: 2px;
    border-radius: 5px; 
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    letter-spacing: 0.5px;
}   
.swap-preset-button:hover {
    background-color: #1565c0; /* Highlight color on hover */
} 

.swap-container {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    align-items: flex-start; /* Align items to the start */
    margin-top: 7px;
    margin-left: 20px;
}

.swap-input {
    width: 76px; /* Set the width to match the direction-pad buttons */
    height: 40px; /* Set the height to match the direction-pad buttons */
    background-color: #3C3C3C; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    font-size: 12px; /* Set font size */
    margin-right: 10px; /* Adjust spacing between input boxes */
    text-align: center; /* Center the text horizontally */
    caret-color: white; /* Change the cursor color */
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;

}
.swap-input:focus {
    outline: 2px solid white; /* Change the outline color for focus */
    outline-offset: 2px; /* Adjust the outline offset if needed */
}

.swap-input:last-child {
    margin-right: 0; /* Remove margin from the last input box */
}

.swap-button {
    width: 170px;
    height: 30px;
    margin-top: 10px; /* Add space between input boxes and send button */
    padding: 6px 18px; /* Adjust padding */
    border: none;
    border-radius: 5px;
    background-color: #1565c0;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.swap-button:hover {
    background-color: #1e88e5; /* Highlight color on hover */
}

.focus-wrapper {
    display: flex;
}   
    
.focus-container {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    align-items: flex-start; /* Align items to the start */
    margin-top: 7px;
    margin-left: 20px;
}


.other-wrapper, .ir-wrapper {
    display: flex;
}   
    
.other-container {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    align-items: flex-start; /* Align items to the start */
    margin-top: 7px;
    margin-left: 20px;
}

.ir-container {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    align-items: flex-start; /* Align items to the start */
    margin-top: 7px;
    margin-left: 20px;
}

    
.focus-input {
    width: 76px; /* Set the width to match the direction-pad buttons */
    height: 50px; /* Set the height to match the direction-pad buttons */
    background-color: #3C3C3C; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    border-radius: 5px; /* Apply border radius */
    font-size: 12px; /* Set font size */
    margin-right: 10px; /* Adjust spacing between input boxes */
    text-align: center; /* Center the text horizontally */
    caret-color: white; /* Change the cursor color */
    
}
.focus-input:focus {
    outline: 2px solid white; /* Change the outline color for focus */
    outline-offset: 2px; /* Adjust the outline offset if needed */
}

.focus-input:last-child {
    margin-right: 0; /* Remove margin from the last input box */
}

.focus-button {
    width: 170px;
    height: 30px;
    margin-top: 10px; /* Add space between input boxes and send button */
    padding: 6px 18px; /* Adjust padding */
    border: none;
    border-radius: 5px;
    background-color: #1565c0;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.focus-button:hover {
    background-color: #1e88e5; /* Highlight color on hover */
}

.autofocus-button {
    width: 76px;
    height: 50px;
    background-color: #3C3C3C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background-image: url('/img/focus_auto.svg');
    background-size: 100% 100%; /* Stretch the image to fill the button */
    background-repeat: no-repeat; /* Ensure the background image does not repeat */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.vid-button {
    width: 76px;
    height: 50px;
    background-color: #3C3C3C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background-image: url('/img/focus_auto.svg');
    background-size: 100% 100%; /* Stretch the image to fill the button */
    background-repeat: no-repeat; /* Ensure the background image does not repeat */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.autofocus-button:hover {
    background-color: #1565c0; /* Highlight color on hover */
}

.volume-button {
    width: 55px;
    height: 50px;
    background-color: #3C3C3C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background-image: url('/img/volume.svg');
    background-size: 100% 100%; /* Stretch the image to fill the button */
    background-repeat: no-repeat; /* Ensure the background image does not repeat */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.volume-button:hover {
    background-color: #1565c0; /* Highlight color on hover */
}

.mpv-button {
    margin-left: 10px; /* Adjust the margin to increase or decrease the space between buttons */
    width: 55px;
    height: 50px;
    background-color: #3C3C3C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background-image: url('/img/click_icon.png');
    background-size: 100% 100%; /* Stretch the image to fill the button */
    background-repeat: no-repeat; /* Ensure the background image does not repeat */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.mpv-button:hover {
    background-color: #1565c0; /* Highlight color on hover */
}
.mpv-button.highlighted {
    /* Add your highlighted styles here */
    background-color: #40c015; /* Highlight color on hover */
}

.reset-button {
    margin-left: 10px; /* Adjust the margin to increase or decrease the space between buttons */
    width: 55px;
    height: 50px;
    background-color: #3C3C3C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    background-image: url('/img/reset.png');
    background-size: 75% 75%; /* Stretch the image to fill the button */
    background-repeat: no-repeat; /* Ensure the background image does not repeat */
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.reset-button:hover {
    background-color: #1565c0; /* Highlight color on hover */
}

.ir-auto-button, .ir-on-button, .ir-off-button {
    width: 50px;
    height: 50px;
    background-color: #3C3C3C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center; /* Center the text horizontally */
    background-size: 100% 100%; /* Stretch the image to fill the button */
    background-repeat: no-repeat; /* Ensure the background image does not repeat */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    letter-spacing: 0.5px;

}

.ir-on-button, .ir-off-button  {
    margin-left: 10px; /* Adjust the margin to increase or decrease the space between buttons */
}

.ir-auto-button:hover, .ir-on-button:hover, .ir-off-button:hover  {
    background-color: #1565c0; /* Highlight color on hover */
}

.mode-labels {
    display: flex;
}

.direction-heading {
    margin-right: 10px; /* Adjust as needed */
}
/* Adjust slider size and position */
.slider {
    width: 150px; /* Adjust width as needed */
    margin-top: 10px; /* Adjust margin top as needed */
    margin-bottom: 10px; /* Adjust margin bottom as needed */
    margin-left: 25px;
}

.hidden {
    display: none;
}

.pad-heading-container {
    display: flex;
}

.direction-move-heading.active,
.direction-pan-heading.active,
.direction-zoom-heading.active {
    text-decoration: underline;
    text-decoration-thickness: 2px; /* Adjust the thickness as needed */
}

.volume-control-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #222222;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 400px;
    z-index: 1000; /* Make sure it appears on top */

}

.volume-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.volume-container label {
    flex: 1;
    margin-right: 10px;
    color: white;
    font-size: large;
}

.volume-container labelvol {
    flex: 1;
    color: white;
    margin-left: 20px;
    width: 20px; /* Fixed width for the labels */
}
.volume-container button {
    flex-shrink: 0; /* Prevent button from shrinking */
    position: absolute;
    right: 0;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 3px 3px;
    cursor: pointer;
    border-radius: 4px;
    font-size: small;

}
/* Style for the mute button */
.volume-container .mute-button {
    flex-shrink: 0; /* Prevent button from shrinking */
    margin-right: 60px;
    background-color: green;
    color: #fff;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: small;
    width: 20px;
    height: 20px;
    background-size: cover;
    /* Add other styles as needed */
}

/* Style for the unmute button */
.volume-container .unmute-button {
    flex-shrink: 0; /* Prevent button from shrinking */
    margin-right: 60px;
    background-color: red;
    color: #fff;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: small;
    width: 20px;
    height: 20px;
    background-size: cover;
    /* Add other styles as needed */
}

.command-display {
    margin-top: 21px;
    margin-left: 8px;
}
.slider-container {
    display: flex;
    align-items: center; /* Align items vertically */
}

/* Base styles for the slider */
.slider {
    margin-top: 12px;
    width: 110px; /* Adjust width as needed */
    -webkit-appearance: none; /* Remove default styles (webkit) */
    appearance: none; /* Remove default styles */
    height: 10px; /* Set height of the slider */
    background: #ccc; /* Color of the slider track */

    /* Styles for Mozilla Firefox */
    --thumb-color: #1565c0; /* Color of the slider thumb */
}

/* Slider thumb style */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styles (webkit) */
    appearance: none; /* Remove default styles */
    width: 18px; /* Width of the slider thumb */
    height: 18px; /* Height of the slider thumb */
    background: var(--thumb-color); /* Color of the slider thumb */
    border-radius: 50%; /* Rounded corners */
    cursor: pointer; /* Cursor style */
}

/* Slider thumb style for Mozilla Firefox */
.slider::-moz-range-thumb {
    width: 18px; /* Width of the slider thumb */
    height: 18px; /* Height of the slider thumb */
    background: var(--thumb-color); /* Color of the slider thumb */
    border: none; /* Remove border */
    border-radius: 50%; /* Rounded corners */
    cursor: pointer; /* Cursor style */
}


.zoominput {
    width: 55px; /* Set the width to match the direction-pad buttons */
    height: 30px; /* Set the height to match the direction-pad buttons */
    background-color: #3C3C3C; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    font-size: 12px; /* Set font size */
    margin-left: 3px; /* Adjust spacing between input boxes */
    text-align: center; /* Center the text horizontally */
    caret-color: white; /* Change the cursor color */
    border-radius: 5px;
    margin-top: 0px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}
.zoominput:focus {
    outline: 1px solid white; /* Customize the focus outline */
    outline-offset: 0px; /* Optional: add space between the outline and element */
}
.zoom-slider-wrapper {
    display: flex;
    margin-left: -25px;
    margin-bottom: 5px;
}


.preset-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure the container takes the full width */
}


.vidbuttondiv {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-left: 20px;
    margin-bottom: -15px;
}
.vidbuttons:hover {
    background-color: #1e88e5;
}

.vidbuttons {
    position: relative;
    margin-top: 10px;
    background-color: #3C3C3C;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: lighter; /* Set font weight to normal */
    text-align: center; /* Center text horizontally */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.1);
    letter-spacing: 0.5px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Style for the button container */
.button-container {
    display: flex;                    /* Use Flexbox for layout */
    justify-content: space-between;  /* Space between left group and right button */
    align-items: center;              /* Vertically center the buttons */
    width: 100%;                       /* Full width to avoid overflow */
    box-sizing: border-box;           /* Include padding in the container’s width */
    padding: 0 10px;                  /* Optional padding for spacing */
    margin-bottom: -35px;
    margin-top: 10px;
    zoom: 90%;
}

/* Style for button group on the left */
.left-buttons {
    display: flex;                    /* Use Flexbox for button grouping */
    gap: 15px;                        /* Gap between buttons; adjust as needed */
    margin-left: -15px;               /* Move the left button group 20px to the left */
}

/* General button styles */
.button-container button {
    background-color: #3C3C3C;       /* Button background color */
    color: white;                    /* Button text color */
    border: none;                    /* Remove default border */
    padding: 5px 10px;              /* Padding inside buttons */
    border-radius: 5px;              /* Rounded corners */
    cursor: pointer;                 /* Pointer cursor on hover */
    font-size: 15px;                 /* Font size for button text */
    font-weight: lighter;            /* Font weight */
    text-align: center;              /* Center text horizontally */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.1);
    letter-spacing: 0.5px;           /* Letter spacing */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.vidbuttons {
    background-color: #3C3C3C;       /* Button background color */
    color: white;                    /* Button text color */
    border: none;                    /* Remove default border */
    padding: 5px 10px;              /* Padding inside buttons */
    border-radius: 5px;              /* Rounded corners */
    cursor: pointer;                 /* Pointer cursor on hover */
    font-size: 15px;                 /* Font size for button text */
    font-weight: lighter;            /* Font weight */
    text-align: center;              /* Center text horizontally */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.1);
    letter-spacing: 0.5px;           /* Letter spacing */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Specific button styles */
.vidbutton {
    /* No extra styles needed; use general button styles */
}

.vidbutton2 {
    margin-left: 5px;
}

#commandDisplay {
    margin-right: 100px;  /* Push this button to the far right */

}
.vidbutton3 {
    margin-left: auto;  /* Push this button to the far right */
    margin-right: 10px; /* Adjust this value to move button3 closer to the center */
}
.vidbutton4 {
    margin-right: 15px; /* Adjust this value to move button3 closer to the center */

}

.vidbutton5 {
    margin-right: 15px; /* Adjust this value to move button3 closer to the center */

}

.vidbutton3.highlighted, .vidbutton4.highlighted, .vidbutton5.highlighted  {
    background-color: #1565c0; /* Highlight color for button3 */
}

.vidbutton:hover, .vidbutton2:hover, .vidbutton3:hover, .vidbutton4:hover {
    background-color: #1e88e5;
}
  .camera-button {
    margin-top: 12px;
    margin-left: -5px; /* Adjust spacing as desired */
    /* Other styles for the button as needed */
  }
  
  .camera-button-container {
    display: flex; /* Or inline-flex for inline layout */
    /* Other styles for the container as needed */
  }
  
  .camera-thumbnail {
    cursor: pointer;
    margin-left: 3px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Creates a circle */
    z-index: 2;
  }
  

.selected-thumbnail {
    /* Styles for the selected thumbnail */
    border: 2px solid #6082B6; /* Example */
}
 
#video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
    margin-top: 40px;
    margin-left: -5px;
}
/* Basic styling for the dialog */
.dialog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top of everything else */
    left: 0;
    top: 0;
    width: 100px; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Dialog Content */
.dialog-content {
    background-color: #fefefe;
    margin: 10% auto; /* Center the dialog */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 800px; /* Maximum width of the dialog */
    position: relative; /* Position relative to allow positioning of the close button */
}

/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Preset Pad */
.preset-pad {
    /* Ensure this has the same styles as your main presetPad */
    /* Add any additional styling needed */
}

.preset-button-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.preset-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.preset-button {
    padding: 10px;
}

.preset-button-hover {
    background-color: #ddd; /* Highlight color */
}
.no-scroll {
    overflow: hidden;
}


/* Hide scrollbars for Webkit browsers (Chrome, Safari, newer Edge) */
html, body {
    overflow: -moz-scrollbars-none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and older Edge */
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 0 !important; /* Webkit browsers */
    height: 0 !important;
}

.left-menu {
    margin-top: -5px;
    zoom: 80%;
}
